/** 定义主题颜色 **/

@value BasicBgColor: #f8f8f8;
@value BasicGreen: #80ab43;

:export {
  /*Basic*/
  LightGreyBg: BasicBgColor;
  ActiveGreen: BasicGreen;
  HoverLightGreen: #99bc69;

  /*check box*/
  CheckBoxBorderColor: #c6c6c6;
  CheckBoxBorderRadius: 1px;
  CheckBoxActiveColor: BasicGreen;

  /* radio box */
  RadioBoxBorderColor: #c6c6c6;
  RadioBoxActiveColor: BasicGreen;
}
