@value LightGreyBg from '@stylization';
.indexPage{
    width: 100%;
    background-color: LightGreyBg;
    text-align: center;
    >.title{
        color: red;
        font-size: 20px;
    }
    >ul{
        margin: 20px auto;
        >li{
            line-height: 40px;
        }
    }
    >.btn{
        color: #FFF;
        background-color: red;
        margin: 50px auto 0;
        width: 100px;
        height: 40px;
        line-height: 40px;
    }
}